body {
  background: url("images/background.png");
  background-repeat: no-repeat;
  margin: auto;
  font-family: "Gotham Rounded", Verdana;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logo {
  width: 400px;
  height: 150px;
  margin: 25px auto;
}

#openModal {
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Gotham Rounded", Verdana;
  color: white;
  background-color: rgb(205, 30, 36);
  border-radius: 25px;
  padding: 5px;
  border: none;
}

#modal {
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: white;
  height: 450px;
  width: 500px;
  border-radius: 2px;
  padding: 20px;
  margin: 300px auto;
  color: rgb(205, 30, 36)
}

#close {
  color: rgb(205, 30, 36);
  padding: 10px;
}

#start {
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Gotham Rounded", Verdana;
  color: white;
  background-color: rgb(205, 30, 36);
  border-radius: 25px;
  padding: 5px;
  border: none;
  animation-name: start-btn;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}


#reset {
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Gotham Rounded", Verdana;
  color: white;
  background-color: rgb(205, 30, 36);
  border-radius: 25px;
  border: none;
  padding: 5px;
  display: none;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

#popper-modal {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#popper-modal > img {
  width: 50%;
  padding-left: 25%;
}

#roll-number-modal {
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#roll-number-textbox {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin: 500px auto;
}

#roll-number-textbox > h1 {
  color: rgb(27, 168, 221);
}

.main-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0 0 30px grey;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
}

.top-board {
  margin: 30px auto;
}

.col-1 {
  text-align: center;
}

.col-1 > .safe-place {
  display: inline-block;
  margin: 10px auto;
}

.middle-board {
  display: flex;
  flex-direction: row;
  justify-content :center;
  background-color: #eaebec;
  padding: 30px 0;
}

.col-3, .col-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-board {
  margin: 30px auto;
}

.player {
  background-color: black;
  border-radius: 35px;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  padding: 5px 50px;

}

#player2 {
  background-color: rgb(247, 227, 28);
}

#player1 {
  background-color: rgb(105, 184, 90);
  animation-name: none;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
}

h1 {
  font-family: "Gotham Rounded", Verdana;
  font-size: 40px;
  color: rgb(205, 30, 36);
  margin: 0px auto;
  text-align: center;
}

#player1 > h1 {
  font-family: "Gotham Rounded", Verdana;
  font-size: 40px;
  color: white;
  margin: 0px auto;
  text-align: center;
}

#player2 > h1 {
  font-family: "Gotham Rounded", Verdana;
  font-size: 40px;
  color: rgb(70, 79, 86);
  margin: 0px auto;
  text-align: center;
}

.safe-place {
  border: 2px solid #A3A7AA;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 35px;
  width: 60px;
  height: 60px;
}

.board-div {
  border: 2px solid #A3A7AA;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 35px;
  width: 60px;
  height: 60px;
}

h5 {
  color: rgb(70, 79, 86);
  font-size: 14px;
  text-align: center;
}

.col-6 {
  text-align: center;
}

.col-6 > .safe-place {
  display: inline-block;
  margin: 10px auto;
}

#win-modal {
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#win-modal-textbox {
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 2px;
  padding: 20px;
  margin: 300px auto;
  text-align: center;
}

@keyframes start-btn {
  0% { background-color: rgb(205, 30, 36); box-shadow: 0 0 3px rgb(205, 30, 36); }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: rgb(205, 30, 36); box-shadow: 0 0 3px rgb(205, 30, 36); }
}

@keyframes player-glow {
  0% { background-color: rgb(105, 184, 90); box-shadow: 0 0 3px rgb(105, 184, 90); }
  50% { background-color: #007f00; box-shadow: 0 0 40px #007f00; }
  100% { background-color: rgb(105, 184, 90); box-shadow: 0 0 3px rgb(105, 184, 90); }
}

@keyframes reset-btn {
  0% { background-color: rgb(205, 30, 36); box-shadow: 0 0 3px rgb(205, 30, 36); }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: rgb(205, 30, 36); box-shadow: 0 0 3px rgb(205, 30, 36); }
}
