body {
  background: url("images/background.png");
  background-repeat: no-repeat;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logo {
  width: 450px;
  height: 200px;
  margin: 25px auto;
}

button {
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Gotham Rounded", Verdana;
  color: white;
  background-color: brown;
  border-radius: 25px;
  padding: 5px;
}

.main-board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid brown;
  border-radius: 25px;
  width: 960px;
  height: 760px;
  margin: auto;
}

.top-board {
  margin: 30px auto;
}

.col-1 {
  text-align: center;
}

.col-1 > .safe-place {
  display: inline-block;
  margin: 10px auto;
  /*background: green;*/
}

.middle-board {
  display: flex;
  flex-direction: row;
  justify-content :center;

}

.col-3, .col-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-board {
  margin: 30px auto;
}

#player {
  border: 4px solid brown;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  margin: 10px auto;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: brown;
  margin: 0px auto;
  text-align: center;
}

.safe-place {
  border: 4px solid brown;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.board-div {
  border: 4px solid brown;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.popper {
  border: 4px solid rgb(66, 36, 17);
  border-radius: 30px;
  background-image: linear-gradient(rgb(66, 36, 17), rgb(235,232,228));
  margin-left: 50px;
}

.col-6 {
  text-align: center;
}

.col-6 > .safe-place {
  display: inline-block;
  margin: 10px auto;
  /*background: yellow;*/
}
